@import "src/app/vars";

.priority-wrapper {
  margin-bottom: 20px;
  width: 200px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 5px;
  background-color: $SIDEBAR_COLOR;

  &-item {
    color: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    width: 50px;

    &:hover {
      background-color: $CUSTOM_GRAY;
    }
  }
}